[submodule "Packages/EDIT"]
	path = Packages/EDIT
	url = https://github.com/eframework-org/U3D.EDIT.git
	branch = master
[submodule "Packages/FGUI"]
	path = Packages/FGUI
	url = https://github.com/eframework-org/U3D.FGUI.git
	branch = master
[submodule "Packages/MSV"]
	path = Packages/MSV
	url = https://github.com/eframework-org/U3D.MSV.git
	branch = master
[submodule "Packages/PUER"]
	path = Packages/PUER
	url = https://github.com/eframework-org/U3D.PUER.git
	branch = master
[submodule "Packages/RES"]
	path = Packages/RES
	url = https://github.com/eframework-org/U3D.RES.git
	branch = master
[submodule "Packages/UGUI"]
	path = Packages/UGUI
	url = https://github.com/eframework-org/U3D.UGUI.git
	branch = master
[submodule "Packages/UPD"]
	path = Packages/UPD
	url = https://github.com/eframework-org/U3D.UPD.git
	branch = master
[submodule "Packages/UTIL"]
	path = Packages/UTIL
	url = https://github.com/eframework-org/U3D.UTIL.git
	branch = master
