[submodule "Packages/U3D.EDIT"]
	path = Packages/U3D.EDIT
	url = https://github.com/eframework-org/U3D.EDIT.git
	branch = master
[submodule "Packages/U3D.FGUI"]
	path = Packages/U3D.FGUI
	url = https://github.com/eframework-org/U3D.FGUI.git
	branch = master
[submodule "Packages/U3D.MSV"]
	path = Packages/U3D.MSV
	url = https://github.com/eframework-org/U3D.MSV.git
	branch = master
[submodule "Packages/U3D.PUER"]
	path = Packages/U3D.PUER
	url = https://github.com/eframework-org/U3D.PUER.git
	branch = master
[submodule "Packages/U3D.RES"]
	path = Packages/U3D.RES
	url = https://github.com/eframework-org/U3D.RES.git
	branch = master
[submodule "Packages/U3D.UGUI"]
	path = Packages/U3D.UGUI
	url = https://github.com/eframework-org/U3D.UGUI.git
	branch = master
[submodule "Packages/U3D.UPD"]
	path = Packages/U3D.UPD
	url = https://github.com/eframework-org/U3D.UPD.git
	branch = master
[submodule "Packages/U3D.UTIL"]
	path = Packages/U3D.UTIL
	url = https://github.com/eframework-org/U3D.UTIL.git
	branch = master
